section{
    display: flex;
    justify-content: space-around;
}

ul {
    margin: 10px 0 0 8px;
    padding: 0 8px 56px 8px;
    list-style: none;
    width: 768px;
    height: 560px;
    overflow-y: scroll;
    border: none;
}

ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

ul::-webkit-scrollbar-thumb:hover {
    background-color: #2F497C;
    border-radius: 24px;
}