body {
  margin: 0;
  padding: 0;
  background: #EFEFEF;
  color: #000000;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  justify-content: center;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

@media (max-width: 768px) {
  #root {
    margin: 0;
    display: flex;
  }
}